.bg {
  -fx-background-color: linear-gradient(to top left ,#20D0FF 0% , #30B3FF 101.96%);
}

.num-btn{
    -fx-text-fill: #2eb9ff;
}

.swap-btn{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10000;
    -fx-border-radius: 10000;
    -fx-padding: 10pt;
}

.text-field{
    -fx-text-fill: #ffffff;
}

.combo-box,
.choice-box {
    -fx-font-size: 14px;

}


.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: #ffffff;
}



.combo-box > .list-cell {
    -fx-text-fill: white;
}

.combo-box > .list-cell:selected {
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
}
.choice-box > .list-cell:selected {
    -fx-text-fill: black;
}